@import "bootstrap/bootstrap";

@btn-font-weight: 300;
@font-family-sans-serif: "Raleway", Helvetica, Arial, sans-serif;

body, label, .checkbox label {
  font-weight: 300;
}

.login-with-fb {
  padding: 10px 50px 10px 70px;
  background: url('fb-icon.png') #3b5998 no-repeat;
  background-size: contain;
  background-position-x: 10px;
}

.stores-carousel {
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
}

/* The controlsy */
.stores-carousel-control {
  left: -12px;
  height: 40px;
  width: 40px;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  margin-top: 45px;
}

.stores-carousel-control.right {
  right: -12px;
}

/* The indicators */
.stores-carousel-indicators {
  right: 50%;
  top: auto;
  bottom: -10px;
  margin-right: -19px;
}

/* The colour of the indicators */
.stores-carousel-indicators li {
  background: #cecece;
}

.stores-carousel-indicators .active {
  background: #428bca;
}

.offers-carousel-control {
  left: -12px;
  height: 40px;
  width: 40px;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  margin-top: 125px;
}

@media (min-width: @screen-sm-min) {
  .pull-right-sm {
    float: right;
  }
}

@media (min-width: @screen-md-min) {
  .pull-right-md {
    float: right;
  }
}

@media (min-width: @screen-lg-min) {
  .pull-right-lg {
    float: right;
  }
}

@media (min-width: @screen-sm-min) {
  .pull-left-sm {
    float: left;
  }
}

@media (min-width: @screen-md-min) {
  .pull-left-md {
    float: left;
  }
}

@media (min-width: @screen-lg-min) {
  .pull-left-lg {
    float: left;
  }
}

span.category-cashback-label {
  background-color: #73d41b;
  color: white;
  padding: 10px 20px;
  margin: 5px;
  font-weight: bold;
  border-radius: 10px;
  display: inline-block;
}

.deal .col-sm-4 {
  padding: 0;
  margin-top: 9%;
  right: 15px;
}

@media (max-width: 767px) {
  .deal .col-sm-4 {
    margin-top: 5px;
    position: static;
    right: initial;
  }
}

.offer-name {
  height: 30px;
  display: block;
  text-overflow: ellipsis;
}

@media (min-width: @screen-md-min) {
  .row {
    margin-bottom: 15px;
  }
}
.right-box-homepage .list-group-item{
  border: none;
  background: none;
}
.thumbnail span{
  display: block;
  text-align: center;
}